@font-face {
    font-family: 'Source Code Pro';
    src: url('sourcecodepro-bold-webfont.woff2') format('woff2'),
         url('sourcecodepro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('sourcecodepro-light-webfont.woff2') format('woff2'),
         url('sourcecodepro-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}