@import url(../fonts/proximanova/proxima-nova.css);
@import url(../fonts/source-code-pro/source-code-pro.css);

::-webkit-scrollbar {
    width: 11px;
    height: 13px;
    background-color: inherit;
}

::-webkit-scrollbar-corner {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: none;
    background-color: rgba(120, 120, 140, 0.4);
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a9afba
}

::-webkit-scrollbar-thumb:active {
    background-color: #a9afba
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-button {
    background: transparent;
    height: 12px;
    width: 12px;
    display: block;
}

::-webkit-scrollbar-button:start:decrement {
    background-image: url(../images/solar/scroll_arrow_up.png);
    background-position: center 0;
    background-repeat: no-repeat
}

::-webkit-scrollbar-button:start:increment,::-webkit-scrollbar-button:end:decrement {
    display: none
}

::-webkit-scrollbar-button:start:decrement:active {
    background-position: center -22px
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-position: center 1px;
    background-image: url(../images/solar/scroll_arrow_left.png)
}

::-webkit-scrollbar-button:horizontal:start:decrement:active {
    background-position: center -21px
}

::-webkit-scrollbar-button:end:increment {
    background-image: url(../images/solar/scroll_arrow_down.png);
    background-position: center 1px;
    background-repeat: no-repeat
}

::-webkit-scrollbar-button:end:increment:active {
    background-position: center -21px
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url(../images/solar/scroll_arrow_right.png)
}

.small-scrollbar ::-webkit-scrollbar {
    width: 9px;
    height: 9px
}

.small-scrollbar ::-webkit-scrollbar-corner {
    background: #fff
}

.small-scrollbar ::-webkit-scrollbar-thumb {
    background: #8a8a96;
    border-color: #fff;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid
}

.small-scrollbar ::-webkit-scrollbar-thumb:hover {
    background: #a9afba
}

.small-scrollbar ::-webkit-scrollbar-thumb:active {
    background: #ee7600
}

.small-scrollbar ::-webkit-scrollbar-track {
    background: #fff
}

body {
    scrollbar-face-color:#8a8a96;scrollbar-shadow-color:#8a8a96;scrollbar-highlight-color:#8a8a96;scrollbar-arrow-color:#8a8a96;scrollbar-track-color:#fff;scrollbar-3dlight-color: #fff;
    scrollbar-darkshadow-color: #fff
}

[pandora],
[pandora] input,
[pandora] textarea {
    font-family: ProximaNova, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
pandora-page {
  font-size: 16px;
  color: #424242;
  background: #fff;
  padding: 0 40px 40px 40px;
  overflow: hidden;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  display: block;
}

pandora-page::before {
  content: '';
  display: block;
  margin-bottom: 40px;
}

pandora-page>*:last-child {
  margin-bottom: 0;
}

pandora-page a[target=_blank]::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid transparent;
  border-width: 1px 1px 0px 0px;
  box-shadow: 1px -1px 0 0 currentColor, inset 0px 0px 0 2px currentColor;
  margin: 3px 2px 3px 3px;
  vertical-align: baseline;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #001EFF;
  outline: none;
  position: relative;
}

a:hover {
  color: #001EFF;
  opacity: 0.8;
}

a:active {
  color: #001EFF;
}

a:focus {
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #001EFF
}

a:active,
a.visited:visited {
  color: #0099c4
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-transform: none;
  margin-top: 0;
  margin-bottom: .3em;
}

h1.title {
  text-transform: capitalize;
}

h1 {
  font-size: 2.285rem;
  margin: 50px 0 30px
}

h2 {
  font-size: 2rem;
  margin: 50px 0 20px
}

h3 {
  font-size: 1.571rem;
  margin: 35px 0 15px
}

h4 {
  font-size: 1.357rem;
  margin: 35px 0 15px;
  font-weight: bold;
}

h5 {
  font-size: 1.071rem;
  margin: 0;
  font-weight: bold;
}

h6 {
  font-size: 0.857rem;
  margin: 0;
  font-weight: bold;
}

hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background: #ddd
}

p {
  max-width: 800px;
  margin: 0 0 15px;
  line-height: 150%
}

pandora-page ul {
  line-height: 1.3;
  padding-left: 35px;
  margin: 0 0 20px 0;
  list-style: none;
}

pandora-page ul li {
  position: relative
}

pandora-page ul li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: -22px;
  border: 2px solid #dfdfe1;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #424242;
}

blockquote {
  margin: 15px auto 30px auto;
  padding: 15px;
  background: rgba(0,30,255,0.05);
  border-left: 5px solid #001eff;
}

blockquote *:last-of-type {
  margin-bottom: 0;
}

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: collapse
}

table th {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 0 5px;
  line-height: 25px;
  border-bottom: solid 2px;
}

table td {
  border-bottom: 1px solid #c7c7c7;
  padding: 6px
}

pre {
  white-space: pre;
  margin: 15px auto 30px auto;
  overflow: auto;
  background: #f3f3f6;
}

pre code {
  padding: 15px!important;
  color: inherit;
  display: block;
  background: none;
  font-size: 14px;
  border: none;
  white-space: pre;
}

code {
  font-family: 'Source Code Pro';
  font-size: 75%;
  font-weight: 400;
  border-radius: 1px;
  background: #f3f3f6;
  padding: 0px 6px;
  vertical-align: middle;
  white-space: nowrap;
}

blockquote code {
  background: rgba(0,30,255,0.04);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #9a9a9c;
  background: rgba(30, 50, 80, 0.05);
  padding: 1px 5px 1px 2px;
  border-radius: 2px;
  font-size: 12px;
}

.hljs-attr {
  color: #88888a;
}

.hljs-keyword,
.hljs-meta-keyword,
.hljs-deletion {
  color: #D94255;
}

.hljs-type,
.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag {
  color: #EE7600;
}

.hljs-number {
  color: #0080f0;
}

.hljs-literal {
  color: #D94255;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-selector-tag,
.hljs-doctag,
.hljs-name {
  color: #0080f0;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #13994b;
}


/* Currently unused style blocks */

.hljs-title,
.hljs-section {}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {}

.hljs-meta {}

.hljs-meta-string {}


@media screen and (max-width: 960px) {
  pandora-page::before {
    margin-bottom: 30px;
  }
  h1 {
    margin-top: 30px;
  }
}

/* Styles for bookLayouts template ( on lib/classes/bookLayout.js ) */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    color: #424242;
    overflow: hidden;
}

@media print {
    html, body {
        background: #fff !important;
        height: auto !important;
        overflow: visible !important;
    }
    [no-print] {
        display: none !important;
    }
    * {
        transition: none !important;
    }
}

pandora-book {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: #fff;
}

@media (min-width:1921px) {
    pandora-book.page {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin-top: 5vh;
        max-width: 1200px;
    }
}

.hidden {
    display: none !important;
}

/* ------------- Page loading ------------- */

@keyframes page-load {
    from {
        width:0;
    }
    to {
        width:100%;
    }
}

.page-loading::before {
    content:" ";
    display:block;
    position:fixed;
    z-index:10;
    height:2px;
    width:100%;
    top:0;
    left:0;
    background-color:red;
    animation: page-load ease-out 2s;
}

.reader.loading pandora-page{
    transition: opacity 100ms ease;
    opacity: 0;
}

/* ------------- Header  ------------- */

.header {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    border-bottom: 1px solid #ddd;
    flex: 0 0 auto;
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    min-height: 50px;
}

.book-icon {
    margin: 9px 0 9px 15px;
    flex: 0 0 32px;
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/pandora.svg);
}

.header h1 {
    font-size: 1.571rem;
    line-height: 50px;
    padding: 0 15px;
    width: 100%;
    margin: 0;
}

.header h1 a {
    color: inherit;
}

.header h1 a:hover {
    opacity: 0.9;
}

.header h1 a:focus {
    border: none;
}

.header .search {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
}

/* ------------- Search Input  ------------- */

.search input {
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    transition: all 300ms ease;
    padding: 0 10px 0 30px;
    width: 200px;
    height: 26px;
    font-size: 14px;
}

.search-wrapper::before,
.search-wrapper::after {
    content: '';
    position: absolute;
}

.search-wrapper::before {
  width: 8px;
  height: 8px;
  border: 2px solid #8a8a8c;
  border-radius: 100%;
  top: 50%;
  left: 9px;
  margin-top: -7px
}

.search-wrapper::after {
  width: 7px;
  height: 3px;
  background: #8a8a8c;
  top: 43%;
  left: 17px;
  transform: rotate(45deg);
  margin-top: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

input[type="search"]::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

.header input:hover,
.header input:focus {
    border-color: #DCEEFB;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-content: stretch;
    flex: 1 1 auto;
    min-height: 0;
}

/* ------------- Sidebar ------------- */

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    min-width: 260px;
    max-width: 300px;
    box-sizing: border-box;
    white-space: nowrap;
}

.sidebar-header { 
    padding-left: 20px;
}

.sidebar ul {
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

pandora-nav {
    flex: 1 1 100%;
    padding: 15px 12px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.sidebar ul li {
    position: relative;
    line-height: 30px;
    display: block;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-bottom: 4px;
}

.sidebar ul li::before {
    content: none;
}

pandora-nav > ul > li[parent] {
    font-weight: 600;
}

div[collapser] + ul li a,
div[collapser] + ul li div[collapser] {
    padding-left: 24px;
}

div[collapser] + ul li div[collapser] + ul li a {
    padding-left: 36px;
}

.sidebar [collapsible][collapsed] ul {
    display: none;
}

.sidebar ul li[selected] {
    background-color: rgba(44,44,44,0.06);
}

.sidebar ul li[selected] a {
    color: black;
}

.sidebar ul div[collapser] {
    cursor: pointer;
    padding: 2px 12px;
    font-weight: 600;
    transition: background-color 130ms ease-out,color 130ms ease-out;
    margin-bottom: 4px;
}

.sidebar ul div[collapser]:hover {
    color: black;
    background: rgba(44,44,44,0.06);
}

pandora-nav .sub-header {
    margin-top: 12px;
    color: rgba(0,0,0,.45);
    font-size: 12px;
    padding-left: 24px;
    cursor: default;
}

pandora-nav .sub-header::after {
    position: relative;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background: rgba(0,0,0,0.1);
    content: '';
    margin-bottom: 12px;
}

.sidebar ul li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 12px;
    color: #424242;
    text-decoration: none;
    border: none;
    transition: background-color 130ms ease-out,color 130ms ease-out;
}

.sidebar ul li:not([selected]) > a:hover {
    color: black;
    background: rgba(44,44,44,0.06);
}

/* ------------- Close button with arrow left/right icon ------------- */

.arrow-icon {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-width: 2px 2px 0 0;
    border-color: #424242;
    border-style: solid;
    padding: 0 4px;
    color: #424242;
}

.arrow-icon::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: -2px;
    height: 2px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 14px;
    transform-origin: right top;
}

.left-arrow {
    transform: rotate(-135deg);
}

.right-arrow {
    transform: rotate(45deg);
}

.sidebar-header button,
.results-header button {
    position: relative;
    vertical-align: middle;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    margin-right: -10px;
}

.sidebar-header button:hover,
.results-header button:hover {
    opacity: 0.9;
}

/* ------------- Hamburger menu only display on mobile size ------------- */

.hamburger-menu {
    position: relative;
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
}

.hamburger-menu:hover {
    opacity: 0.9;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    background-color: #424242;
    width: 18px;
    height: 2px;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner:before {
    top: -5px;
}

.hamburger-inner:after {
    bottom: -5px;
}

.hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
}

/* ------------- Search results ------------- */

.results-header {
    padding: 0 40px;
}

.results-header .search-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    margin-left: -5px;
}

.results-header input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 4px;
    margin-left: 5px;
}

.results-header input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
}

.clear-input {
    display: none;
    color: white;
    font-size: 24px;
    opacity: 0.5;
}

.clear-input.is-visible {
    display: inline-block !important;
}

.clear-input::after {
    display: inline-block;
    content: "\00d7";
}

.results-body {
    padding: 40px;
    overflow: auto;
}

.search-container {
    display: flex;
    flex: 1;
    margin-right: 15px;
}

.results {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    position: fixed;
    width: 50%;
    font-size: 16px;
    min-width: 375px;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    z-index: 100;
    background-color: white;
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
    box-shadow: rgb(0 0 0 / 14%) 0px 0px 4px, rgb(0 0 0 / 28%) 0px 4px 8px;
}

.results.is-visible {
    transform: translateX(-100%);
}

.results h1 {
    text-align: center;
    word-break: break-word;
    color: #505050;
    margin: 0 0 20px;
}

.results h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.results mark {
    color: white;
    background-color: #001EFF;
}

.results-placeholder {
    display: none;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/search-results.png);
    opacity: 0.2;
}

.results-placeholder.is-visible {
    display: block;
}

/* ------------- Contents ------------- */

.main {
    background: #fff;
    flex: 1 1 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width:1441px) {
    .main {
        flex: 1 1 auto;
    }
}

.info-bar {
    color: #888;
    line-height: 30px;
    font-size: 12px;
    flex: 0 0 30px;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    position: relative;
}

.info-bar a {
    font-weight: bold;
}

.reader {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    flex: 1 1 100%;
}

pandora-page {
    transition: opacity 300ms ease;
}

/* ------------- Backdrop styles display when Sidebar or Search opened ------------- */

.backdrop-overlay {
    display: none;
    visibility: hidden;
    position: fixed;
    background-color: rgba(24, 48, 85, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    transition: opacity 200ms ease-out 0ms, visibility 0ms linear 200ms;
}

.backdrop-overlay.is-visible {
    display: block;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: opacity 200ms ease-in 0ms;
}

.stats {
    text-align: center;
}

@media screen and (min-width: 961px) {
    .hamburger-menu {
        display: none;
    }
    .sidebar-header {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 12px;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header input {
        display: none;
    }
    .header .search {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
        margin-top: 0;
        cursor: pointer;
    }
    .header .search:hover {
        opacity: 0.9;
    }
    .header .search-wrapper::before {
        top: 7px;
        left: 7px;
        margin-top: 0;
        background-color: transparent;
    }
    .header .search-wrapper::after {
        margin-top: 0;
        top: 18px;
        left: 16px; 
    }
    .book-icon {
        display: none;
    }
    pandora-page {
        padding: 0 20px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: auto;
        right: 100%;
        z-index: 100;
        transform: translateX(0);
        transition: transform 200ms ease-in-out;
        box-shadow: rgb(0 0 0 / 14%) 0px 0px 4px, rgb(0 0 0 / 28%) 0px 4px 8px;
    }
    .sidebar.is-visible {
        transform: translateX(100%);
    }
    .results-header {
        padding: 0 20px;
    }
    .results-body {
        padding: 40px 20px;
    }
    .backdrop-overlay {
        display: block;
        transition: opacity 200ms ease-out 0ms, visibility 0ms linear 200ms;
    }
}

@media screen and (max-width: 375px) {
    .results {
        width: 100%;
        min-width: 100%;
    }
}


/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.pandora-code-viewer {
  width: 100%;
  position: relative;
  border: 1px solid #D0D4DB;
  border: none;
  background: #fff;
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
  cursor: default;
  margin: 15px auto 30px auto;
  overflow: hidden;
}

.pandora-viewer-container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 24px;
  transition: background-color 0.2s ease;
}

.pandora-code-viewer button,
.pandora-code-viewer form,
.pandora-code-viewer .action-toggle,
.pandora-code-viewer .action-icon-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.5s ease, background 0.2s ease;
  transform: scale(0);
  -webkit-animation: pop-btn-in 300ms 1000ms ease;
  -webkit-animation-fill-mode: forwards;
  animation: pop-btn-in 300ms 1000ms ease;
  animation-fill-mode: forwards;
  padding: 8px;
  border-radius: 50%;
}

.pandora-code-viewer form input[type=image] {
  width: auto;
  height: auto;
  padding: 12px;
  border-radius: 50%;
  outline: none;
}

.pandora-code-viewer button:hover,
.pandora-code-viewer input:hover,
.pandora-code-viewer .action-icon-toggle:hover {
  background-color: rgba(0,0,0,0.04);
}

@-webkit-keyframes pop-btn-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pop-btn-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.live-code-btn {
  cursor: pointer;
  content: '</>';
  font-weight: 800;
  font-size: 13px;
  color: #757575;
  background: none;
  letter-spacing: 0px;
  border-radius: 100%;
  font-family: 'Source Code Pro';
  text-align: center;
  box-sizing: border-box;
  border: none;
  outline: none;
  z-index: 1;
}

.live-code-btn::before,
.live-code-btn::after {
  transition: all 0.5s ease;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #757575;
  height: 2px;
  width: 12px;
  transform: rotate(-45deg);
  margin: -1px 0 0 -6px;
  opacity: 0;
}

.live-code-btn::after {
  height: 12px;
  width: 2px;
  margin: -6px 0 0 -1px;
}

.pandora-code-viewer.pandora-code-open .live-code-btn {
  color: transparent;
}

.pandora-code-viewer.pandora-code-disabled .pandora-viewer-container {
  padding: 0;
  border: none;
}

.pandora-code-viewer.pandora-code-open .live-code-btn::before,
.pandora-code-viewer.pandora-code-open .live-code-btn::after {
  opacity: 1;
}

.action-toggle input,
.action-icon-toggle input,
.pandora-code-viewer.pandora-code-disabled button,
.pandora-code-viewer.pandora-code-disabled .action-toggle,
.pandora-code-viewer.pandora-code-disabled .action-icon-toggle {
  display: none;
}

.pandora-code-viewer .action-toggle {
  width: auto;
  height: auto;
}

.action-toggle .switch {
	display: inline-block;
	background: #ccc;
	border-radius: 16px;
	width: 44px;
	height: 24px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}

.action-toggle .switch::before,
.action-toggle .switch::after {
  content: "";
}

.action-toggle .switch::before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%,#eee 100%);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.25s;
}

.action-toggle input[type=checkbox]:checked + .switch {
  background-color: #001EFF;
}

.action-toggle input[type=checkbox]:checked + .switch::before {
  transform: translateX(20px);
}

.action-toggle span {
  display: inline-block;
  margin-left: 10px;
  color: #757575;
  font-weight: 600;
  opacity: 0.9;
}

.action-toggle:hover {
  opacity: 0.8;
}

.action-icon-toggle > input[type=checkbox] + .switch {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.pandora-code-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pandora-toolbar {
  display: flex;
  align-items: center;
  height: 40px;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.pandora-code-viewer.pandora-code-open .pandora-toolbar {
  opacity: 1;
}

.pandora-toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pandora-toolbar ul li {
  cursor: pointer;
  float: left;
  height: 100%;
  line-height: 24px;
  padding: 0 8px;
  border-radius: 11px;
  transition: all 200ms ease;
}

.pandora-toolbar ul li:before {
  content: none;
}

.pandora-toolbar ul li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.pandora-toolbar ul li.pandora-tab-selected {
  background: #001EFF;
  color: #fff;
}

.pandora-command-panels {
  display: flex;
}

.pandora-viewer,
.pandora-code-view {
  position: relative;
  width: 100%;
  height: 0;
  transition: height 200ms ease;
}

.pandora-code-view {
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease 0.2s, opacity 0.2s ease;
}

.pandora-viewer {
  min-height: 35px;
}

.pandora-viewer .editor-button {
  position: absolute;
  z-index: 1;
}

.pandora-code-viewer.pandora-code-disabled .editor-button {
  display: none;
}

.pandora-viewer .editor-button:hover {
  opacity: 1;
}

.pandora-viewer .editor-button > input:focus {
  outline: none;
}

.pandora-code-open .pandora-code-view {
  transition: all 0.5s ease, opacity 0.2s ease 0.5s;
  height: 350px;
  opacity: 1;
}

.pandora-console,
.pandora-tab-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 65px;
  background: #fff;
  white-space: pre;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
  border: 1px solid #001EFF;
  border: 1px solid #ddd;
}

.pandora-console {
  top: auto;
  bottom: 0;
  height: 65px;
  overflow: auto;
}

.pandora-console div {
  padding: 0 5px;
  line-height: 20px;
  border-bottom: 1px solid #eee;
}

.pandora-console div.info {
  color: #0080f0;
}

.pandora-console div.warn {
  color: #EE7600;
}

.pandora-console div.error {
  color: #D94255;
}

.pandora-tab-view:first-child {
  z-index: 1;
}

.pandora-tab-container {
  z-index: 0;
  position: relative;
  height: calc(100% - 40px);
}

.pandora-viewer iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease 200ms;
}

.pandora-tab-view .CodeMirror {
  height: 100%;
}

.cm-s-uifr-pearl {
  font-size: 13px;
  line-height: 1.5em;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #fff;
  color: #424242;
}

.cm-s-uifr-pearl .CodeMirror-lines {
  padding: 8px 0;
}

.cm-s-uifr-pearl .CodeMirror-gutters {
  background-color: #fafafc;
  background-color: #efeff1;
  padding-right: 10px;
  z-index: 3;
  border: none;
  ;
}

.cm-s-uifr-pearl .CodeMirror-lines {
  padding: 8px 10px;
}

.cm-s-uifr-pearl div.CodeMirror-cursor {
  border-left: 2px solid #535353;
}

.cm-s-uifr-pearl .CodeMirror-selected,
.cm-s-uifr-pearl.CodeMirror-focused .CodeMirror-selected {
  background: #C6C6C6;
  color: #000;
}

.cm-s-uifr-pearl .cm-comment {
  color: #6a6a6c;
  background: #f8f8f8;
}

.cm-s-uifr-pearl .cm-attribute {
  color: #88888a;
}

.cm-s-uifr-pearl .cm-string {
  color: #EE7600;
}

.cm-s-uifr-pearl .cm-number {
  color: #0080f0;
}

.cm-s-uifr-pearl .cm-atom {
  color: #309054;
}

.cm-s-uifr-pearl .cm-keyword {
  color: #D94255;
}

.cm-s-uifr-pearl .cm-property {
  color: #88888a;
}

.cm-s-uifr-pearl .cm-operator {
  color: #88888a;
}

.cm-s-uifr-pearl .cm-bracket {
  color: #535353;
}

.cm-s-uifr-pearl .CodeMirror-linenumber {
  color: #535353;
  color: #ccccce;
}


/*Currently unused styles*/

.cm-s-uifr-pearl .cm-tag {}

.cm-s-uifr-pearl .CodeMirror-activeline-background {}

