
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    src: url('proximanovatab-regular.woff') format('woff');
   }
  
   @font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 600;
    src: url('proximanovatab-semibold.woff') format('woff');
   }
  
   @font-face {
    font-family: 'ProximaNova';
    font-style: bold;
    font-weight: 700;
    src: url('proximanovatab-bold.woff') format('woff');
   }
  
  